.main_container{
    display:flex;
    height: 100%;
}
.rest_container{
    width: 40%;
    border-right-style:solid;
}

.rests{
    border-style: solid;
    border-width: 0.1px;
    border-right:none;
    border-bottom: none;
}

.rests:hover{
    background-color: lightgray;
}

.rest_info{
    width: 40%;
    border-right-style:solid;
    span{
        transition: transform .2s;
    }
    span:hover{
        transition: scale(1.5);
    }
}

.mapa{
    width: 60%;
    height: 85%;
    display: flex;  
    justify-content: center;
    align-items: center;
    img{
        max-width: 100%;
        height: auto;
        height: 80%;
        border-radius: 5% ;
    }
    
    
}