<body>
  
<mat-card id = "header">
  <div class="head1">
    <img src="./assets/images/logo.png">
    <p>DiversiFood</p>
    <input type="text" class="form-control" name= "filterRest" placeholder = "¿Dónde te gustaría ir a comer?" [(ngModel)] = "filterRest">
  </div>  
  <div class="head2">
    <img src="./assets/images/icon-user-default.png">
    <p>Login</p>
    <p>Sign Up</p>
    <img src="./assets/images/options.png">
  </div>
</mat-card>
<div class="main_container">
  <div [hidden] = "displayRests"  class = "rest_container">
    <h1>Restaurantes</h1>
    <div class = "rests" *ngFor = "let rest of restaurantes | filtrar:filterRest" (click) = clickRest(rest.id)>
      <div class="img_div">
        <img src={{rest.imagen}}>
      </div>
      <div class = "info_div">
        <h2>{{rest.nombre}}</h2>
        <p>{{rest.comida}}</p>
        <p>{{rest.precio}}</p>
        <p>{{rest.puntuacion}}</p>
        <p><b>Abierto</b> ahora</p>
      </div>
      <div class = "aforo_div">
        <img src="./assets/images/grupo.png">
        <p>{{rest.afluencia}}</p>
      </div>
    </div>
  </div>
  <div [hidden] = "!displayRests" class="rest_info" >
    <div class="nom_rest"><span (click) = "displayRests = false">&#8249;</span>{{selectedRest.nombre}}</div>
    <div class="img_gallery">
      <img src={{selectedRest.imagen}}>
    </div>
    <p>Comida: {{selectedRest.comida}}</p>
    <p>€€</p>
    <p>Dirección: {{selectedRest.direccion}}</p>
    <p>Reserva: {{selectedRest.reserva}}</p>
    <p>Terraza: {{selectedRest.terraza}}</p>
    <p>Teléfono: {{selectedRest.tel}}</p>
    <p>Aflluencia: {{selectedRest.afluencia}}</p>
    <button mat-button (click) = "openDialog()">
      Reservar
    </button>
  </div>
  <div class="mapa">
    <h2>Seleccione un restaurante en el mapa</h2>
    <img src="./assets/images/mapa.png" alt="error :(" usemap="#image-map" >
    <map name= "image-map">
      <area target="" alt="Pizza Hot" title="Pizza Hot" href="#" coords="272,115,40" shape="circle" (click) = "clickRest(1)">
      <area target="" alt="Teriyaki Alley" title="Teriyaki Alley" href="#" coords="692,182,40" shape="circle" (click) = "clickRest(2)">
      <area target="" alt="Casa Pepe" title="Casa Pepe" href="#" coords="468,452,40" shape="circle" (click) = "clickRest(0)">
  </map>
  </div>
</div>
</body>

