<body>
  
<mat-card id = "header">
  <div class="head1">
    <h2>&#128507;</h2>
  <input type="text" class="form-control" name= "filterRest" placeholder = "¿Dónde te apetece comer?" [(ngModel)] = "filterRest">
  </div>
  <div class="head2">
    <i class="fa-solid fa-user"></i>
  <p>Login</p>
  <p>Sign Up</p>
  <span class='bi bi-three-dots-vertical'>OPT</span>
  </div>
</mat-card>
<div class="main_container">
  <div [hidden] = "displayRests"  class = "rest_container">
    <h1>Restaurantes</h1>
    <div class = "rests" *ngFor = "let rest of restaurantes | filtrar:filterRest" (click) = clickRest(rest.id)>
      <h2>{{rest.nombre}}</h2>
      <p>{{rest.comida}}</p>
      <p>Aflluencia: {{rest.afluencia}}</p>
      <p>{{rest.puntuacion}}</p>
      <p>{{rest.precio}}</p>
    </div>
  </div>
  <div [hidden] = "!displayRests" class="rest_info">
    <h2><span (click) = "displayRests = false">&#8249;</span>{{selectedRest.nombre}}</h2>
    <img src="" alt="Imagen de Restaurante">
    <p>Comida: {{selectedRest.comida}}</p>
    <p>€€</p>
    <p>Dirección: {{selectedRest.direccion}}</p>
    <p>Reserva: {{selectedRest.reserva}}</p>
    <p>Terraza: {{selectedRest.terraza}}</p>
    <p>Teléfono: {{selectedRest.tel}}</p>
    <p>Aflluencia: {{selectedRest.afluencia}}</p>
    <button mat-button (click) = "openDialog()">
      Reservar
    </button>
  </div>
  <div class="mapa">
    <img src="./assets/images/mapa.png" alt="error :(" usemap="#image-map" >
    <map name= "image-map">
      <area target="" alt="Pizza Hot" title="Pizza Hot" href="#" coords="272,115,40" shape="circle" (click) = "clickRest(1)">
      <area target="" alt="Teriyaki Alley" title="Teriyaki Alley" href="#" coords="692,182,40" shape="circle" (click) = "clickRest(2)">
      <area target="" alt="Casa Pepe" title="Casa Pepe" href="#" coords="468,452,40" shape="circle" (click) = "clickRest(0)">
  </map>
  </div>
</div>
</body>

